* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 250, 250);
}

.btn {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 60px;
  background-color: rgb(249, 202, 36);
  color: white;
  font-size: 25px;
  text-align: center;
  line-height: 60px;
  box-shadow: 0 5px rgba(249, 202, 36, 0.5);
  transition: 300ms ease;
  cursor: pointer;
  z-index: 100;
}

.btn:active {
  box-shadow: none;
  transform: translateX(-50%) translateY(5px);
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 600px;
  height: 600px;
  transition: 500ms ease;
  position: relative;
}

.boxes.big {
  width: 500px;
  height: 500px;
}

.boxes.big .box {
  transform: rotateZ(360deg);
}

.box {
  position: relative;
  width: 125px;
  height: 125px;
  background-image: url(./giphy.gif);
  background-size: 500px 500px;
  background-position: 0px 0px;
  transition: 500ms ease;
}

.box::before {
  content: "";
  width: 100%;
  height: 15px;
  background-color: rgb(249, 202, 36);
  position: absolute;
  top: 100%;
  transform-origin: top;
  transform: skewX(45deg);
}

.box::after {
  content: "";
  width: 15px;
  height: 100%;
  background-color: rgb(246, 229, 141);
  position: absolute;
  left: 100%;
  transform-origin: left;
  transform: skewY(45deg);
}
