* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 17, 17);
  height: 100vh;
}

.board {
  width: 900px;
  height: 720px;
  /* background-color: cadetblue; */
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 25px;
  height: 25px;
  margin: 2.5px;
  background-color: rgb(29, 29, 29);
  box-shadow: 0px 0px 2px rgb(0, 0, 0);
}
