@import url(../font-awesome-4.7.0/css/font-awesome.min.css);

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #3b3b98;
  height: 100vh;
}

#container {
  background-color: #23235b;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

#container form {
  color: white;
  display: flex;
  flex-direction: column;
  width: 400px;
}
form h1 {
  text-align: center;
}

#output {
  position: relative;
  margin: 10px 0;
  width: 100%;
  margin-top: 20px;
  height: 40px;
  background-color: white;
  padding: 0 10px;
}

#outputArea {
  width: 100%;
  color: #3b3b98;
  font-weight: bolder;
  font-size: 25px;
  line-height: 40px;
}
#output i {
  font-size: 25px;
  position: absolute;
  display: block;
  top: 50%;
  right: 10px;
  color: #3b3b98;
  transform: translateY(-50%);
  cursor: pointer;
  transition: color 300ms ease;
}

#output i:hover {
  color: green;
}

.option {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.check {
  width: 30px;
  height: 30px;
}

#length {
  width: 50px;
  height: 30px;
  font-size: 20px;
}

#submit {
  font-size: 25px;
  cursor: pointer;
  margin: 10px 0;
  padding: 10px 0;
}
