@import url('../font-awesome-4.7.0/css/font-awesome.min.css');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: pink;
}

.search-bar{
    background: white;
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.input{
    /* z-index: -1; */
    margin: 0;
    width: 200px;
    height: 50px;
    outline-style: none;
    border: none;
    padding: 5px 20px;
    font-size: 22px;
    transition: width 300ms linear;
}

.input.hidden{
    width: 0px;
    padding: 0px;
}

.btn{
    margin: 10px;
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    border-radius: 5px;
    cursor: pointer;
}

.fa{
    font-size: 28px;
}